
body {
	margin: 0;
	padding: 0;
	min-height: 100vh;
	box-sizing: border-box;
	font-size: 12px;
	color: #303030;
	background-color: #eeeeee;
	padding-top: 189px;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

h1, h2, h3, h4 {
	margin: 0;
}

a {
	text-decoration: none;
	color: #303030;
	transition: all 0.3s;
}

p {
	margin: 0;
}

img {
	width: auto;
	max-width: 100%;
}

ul {
	list-style: none;
}

.holder::after {
	content: '';
	display: block;
	clear: both;
}

header {
	width: 100%;
	top: 0;
	left: 0;
	height: 189px;
	font-family: 'Roboto', sans-serif;
	padding-top: 40px;
}

.wrapper {
	width: 1198px;
	margin: 0 auto;
}

header a.logo {
	font-size: 48px;
	font-weight: 900;
	line-height: 24px;
}
header nav {
	float: right;
	padding-top: 0;
	color: #303030;
}
header nav a {
	display: inline-block;
	font-family: Roboto, sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	padding-top: 5px;
}

header nav a:nth-child(2) {
	margin: 0 38px 0 51px;
}

a:hover {
	color: #e10011;
}

.wrapper-gradient {
  background: url("../images/bg_gradient.png") no-repeat;
  background-size: auto 120%;
  background-position: 50% 20%;
}

.slider-info, .slider-image {
	display: inline-block;
}

.slider-info {
	width: 615px;
	padding-right: 10px;
	text-align: right;
}

.slider-info h1 {
	font-family: 'Raleway', sans-serif;
	font-size: 150px;
	font-weight: 900;
	text-transform: uppercase;
	line-height: 1;
}

.slider-info p {
	font-size: 36px;
	font-weight: 300;
	line-height: 1.5;
}

.slider-info a {
	font-size: 24px;
	font-family: Roboto, sans-serif;
	font-weight: 700;
	line-height: 2;
}

.slider-image {
	margin-left: 100px;
}

.slider-btn ul {
  text-align: center;
  padding: 50px 0 100px;
}

.slider-btn ul li {
  display: inline-block;
  margin-left: 9px;
}

.product {
  padding: 114px 72px 72px;
  text-align: center;
  background-color: #fff;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 48px;
  font-weight: 900;
}

.product-info {
  margin-bottom: 70px;
}

.product-info p {
  width: 555px;
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.product-info img {
  margin: 10px;
}

.product-images div {
  display: inline-block;
}

.product-image:nth-child(2),
.product-image:nth-child(4),
.product-image:nth-child(5) {
  margin-left: 30px;
}

.product-image:nth-child(1),
.product-image:nth-child(2) {
  margin-bottom: 35px;
}

.product-image a:hover {
  background-color: red;
}